* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary: #0511F2;
    --secondary: #05DBF2;
    --accent: #020659;
}

h1 {
    color: var(--primary);
}

h2 {
    color: var(--accent);
}